html, body, header, main, footer, article, div, span, p, a, figure, img, small, ul, li{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    outline: none;
    list-style: none;
}
.container{
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding: 0 30px;
}
.hidden{
    display: none;
}
body{
    
        font-family: 'Roboto', sans-serif;
}

header{
    padding: 12px 0;
}

header.linha{
  display: flex;
  justify-content: space-between;  
}
