html, body, header, main, footer, article, div, span, p, a, figure, img, small{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
.conteiner{
    width: 100%;
    max-width: 85px;
    margin: 0 auto;
                                                                                                                                                                                                                                                                                                m                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
}
.hidden{
    display: none;
}
body{}

header{}
header.container{}
header.linha{}
header.linha_coluna {}
header a{}
header a figure{}
header a figure img{}
header ul{}
header ul li a{}
header ul li img{}

main{}
main article{}
main article.container{}
main article.linha{}
main article secaousuario{}
main article secaousuario.linha{}
main article secaousuario.linha_coluna{}
main article secaousuario.figure{}
main article secaousuario.figure img{}
main article secaousuario.sobreusuario{}
main article secaousuario.sobreusuario_nome{}
main article secaousuario.sobreusuario_nome h2{}
main article secaousuario.sobreusuario_nome button{}
main article secaousuario.sobreusuario_seguidores{}
main article secaousuario.sobreusuario_seguidores ul{}
main article secaousuario.sobreusuario_seguidores ul li{}
main article secaousuario.sobreusuario_seguidores ul li a{}
main article secaousuario.sobreusuario_seguidores ul li a strong{}
main article secaousuario.sobreusuario_descricao{}
main article secaousuario.sobreusuario_descricao h3{}
main article secaousuario.sobreusuario_descricao p{}
main article secaousuario.sobreusuario_descricao p a {}

main article secaodestaquesUsuario{}
main article secaodestaquesUsuario ul{}
main article secaodestaquesUsuario ul li{}
main article secaodestaquesUsuario ul li figure{}
main article secaodestaquesUsuario ul li figure img{}
main article secaodestaquesUsuario ul li h3{}
